<div id="contactForm" class="shadowbox clearAll">
	<h2>I want to have a data portal in my city!</h2>
	<p>
		This is a sample text a call to action for people who want to bring data portal to their own city and they need to drop us an e-mail.
	</p>
	<form action="/contact-form" method="post" id="contactForm">
		<input type="email" name="email" value="" placeholder="E-mail" />
		<textarea name="message" placeholder="Write us a message here"></textarea>
        <input type="submit" value="Send">
	</form>
</div>
