{% extends "page.html" %}

{% block subtitle %}{{ _('Tentang') }}{% endblock %}

{% block breadcrumb_content %}
    <li class="active">{% link_for _('Tentang'), named_route="/about" %}</li>
{% endblock %}

{% block primary %}

    <h1>Tentang Open Data Jawa Barat</h1>

    <br>
    <div class="content"> 
        <p>Open Data Jawa Barat adalah portal resmi data terbuka milik Pemerintah Provinsi Jawa Barat yang berisikan data-data dari Perangkat Daerah di lingkungan Pemerintah Provinsi Jawa Barat yang menghasilkan data terkait Provinsi Jawa Barat. </p>
        <p>Open Data Jawa Barat ada untuk dapat memenuhi kebutuhan data publik bagi masyarakat. Data disajikan dengan akurat, akuntable, valid, mudah diakses dan berkelanjutan.  Open Data Jawa Barat diharapkan dapat memenuhi kebutuhan data dan informasi serta dapat mengoptimalkan pengawasan publik terhadap kinerja Pemerintah Provinsi Jawa Barat.</p>
        <p>Data yang tersaji di Open Data Jawa Barat merupakan data publik yang sesuai dengan ketentuan Undang-Undang Nomor 14 Tentang Keterbukaan Informasi Publik. Data-data yang mengandung rahasia negara, rahasia pribadi dan data-data yang dapat merugikan banyak pihak tidak disajikan di Open Data Jawa Barat.</p>
        
    </div>

{% endblock %}
