{% extends "page.html" %}

{% block subtitle %}{{ _('Code of conduct') }}{% endblock %}

{% block breadcrumb_content %}
    <li class="active">{% link_for _('Code of conduct'), named_route="code-of-conduct" %}</li>
{% endblock %}

{% block primary %}

    <h1>Code of conduct</h1>

    <div class="content">
        <p>This document is based on the <a href="https://github.com/codeforamerica/codeofconduct" target="_blank">Code of Conduct Code of America</a> .</p>
        <p>The Code for Romania Community proposes that all events, forums and activities of the Code for Romania community reflect the following:</p>
        <ul>
            <li>It is a safe and respectful environment for all participants</li>
            <li>It is an environment in which all people can express themselves freely</li>
            <li>Every contribution is valuable in its own way. We respect the ideas, qualities and contribution of each.
            </li>
            <li>Do not assume everyone has the same previous experience. Encourage questions.</li>
            <li>Find a way in which people can be productive with the qualities and skills they have (technical or not) and the energy of each.
            </li>
            <li>Use expressions like "yes / and" instead of "not / but".</li>
            <li>Encourage members and participants to listen as much as they talk.</li>
            <li>Try to build tools and technologies that are accessible to the public. Priority will be given to activities that are for the benefit of the general public, not individual, private.
            </li>
            <li>Prioritises the access and expression of opinions by groups that are traditionally excluded from the civic process.
            </li>
            <li>It strives to ensure the good representation of the community in the planning, design and implementation of the technical solution. This includes encouraging the participation of women, minorities and traditionally marginalized groups.
            </li>
            <li>It actively involves community groups and those with expertise on the topic in question in the decision-making process.
            </li>
            <li>Ensures that relationships and conversations between community members, local authorities and community partners remain respected, promote participation and productivity.
            </li>
            <li>Provides an environment where people are not subject to discrimination or harassment.</li>
        </ul>
        <p>Code for Romania is a non-partisan, apolitical organization, and will not be associal with any political party.</p>
        <p>Code for Romania develops open source information products. No contributor is the owner of the project to which he contributed.</p>
        <p>Code for Romania reserves the right to require anyone who does not comply with this policy not to participate in the activities, events and forums of the Code for Romania network.</p>
        <h2>Anti-Harassment Policy for Romania</h2>
        <p>This anti-discrimination policy is based on the <a href="http://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Policy" target="_blank">example</a> of Geek Feminism wiki policy created by Ada Initiative and other volunteers.</p>
        <p>This policy is based on a number of other policies, including: Ohio LinuxFest Anti-Harassing Policy, written by Esther Filderman and Beth Lynn Eicher, and the Con Anti-Harassment project. Mary Gardiner, Valerie Aurora, Sarah Smith and Donna Benjamin have generalized these policies and added support materials. Several members of LinuxChix, Geek Feminism and other groups have contributed to this document.</p>
        <hr>
        <p>All activities, events and forums of the Code for Romania community and all members, presenters and participants are bound to observe this Anti-Harassment Policy.</p>
        <p>In addition to the fact that the events organized by us will be subject to the principles mentioned in this document, Code for Romania will engage in partnerships and will only associate with groups that respect the same anti-harassment and anti-discrimination policy and in relation to members and its participants. Sponsors and partners also obey anti-harassment policy.</p>
        <p>Code for Romania aims to provide a non-harassing and non-discriminatory environment for everyone, regardless of gender, gender and expression, sexual orientation, disability, physical aspect, weight, race, religion etc. We do not tolerate in any way the aggression of members, participants and partners. Language and sexually suggestive images are not suitable for any event and activity of the Code for Romania community, including presentations. Anyone who does not follow these policies can be excluded from all activities, events and forums of the Code for Romania community by the event organizer or forum administrator.</p>
        <p>Code for Romania will publish this Code of Conduct and Anti-Discrimination Policy on our site and on any other forum we will use. They will also be published on the registration pages of all events and will also be referenced in emails to members and participants in events.</p>
        <p>Discrimination includes, but is not limited to: written or verbal insulting comments on gender, gender and expression, sexual orientation, disability, physical aspect, weight, race, religion, sexual images in public places, intentional intimidation; tracking; shooting or shooting harassing; improper physical contact; sexual inferences; exclusion; language or actions proving condescension.</p>
        <p>Discrimination includes, but is not limited to: Incorrect and harmful treatment applied to different categories of people, especially on grounds of race, nationality, age, gender, sexual orientation, disability, physical aspect, religion etc.</p>
        <p>If a participant exhibits discriminatory or harassing behavior, the organizers may take any appropriate action, including warning the person concerned or excluding it from the activities, events and forums of the Code for Romania community.</p>
        <p>If you are harassed and / or discriminated or if you notice someone else is being harassed and / or discriminated or if you have any other concerns, please contact a member of Code for Romania or a forum administrator immediately. You can contact them via [email and phone number of the organizer / administrator]. Event staff and forum administrators will be happy to help you contact the hotel / area security staff or competent local authorities or provide other support to those affected by harassment so they can feel safe throughout the event.</p>
        <p>If you can not contact an event organizer or a form administrator or an emergency, please call 112 and / or get away from the situation.</p>
        <p>You can also contact Code for Romania in connection with harassment at
             <strong>safespace</strong> at <strong>code4.ro</strong> . You can use the email template below. Code for Romania members agree that they are not always in a position to assess a given situation due to the number of events and the fact that our team is not always present. However, we are confident that by providing these guidelines we create a community that volunteers to these values &#8203;&#8203;and can create an inclusive and friendly environment for everyone.</p>
        <p>We value your participation and we hope that by communicating these expectations from the start and openly, we can all enjoy a non-aggression environment.</p>
        <h2>Email model for reporting harassment situations</h2>
        <blockquote>
            <p>TOPIC: Safe Space Alert at [Event Name]</p>
            <p>I am writing to you because I was subjected to an aggression act at an event of the Code for Romania community (name, place, date of the event).</p>
            <p>My contact details are…. Thank you.</p>
        </blockquote>
    </div>

{% endblock %}
