{% extends "page_categories.html" %}

{% block subtitle %}{{ _("Selamat Datang") }}{% endblock %}

{% block maintag %}{% endblock %}
{% block toolbar %}{% endblock %}

{% block styles %}
  {{ super() }}

  {% resource 'dataportaltheme/categories_bar.css' %}
  {% resource 'dataportaltheme/githubfeed.css' %}
  {% resource 'dataportaltheme/contactForm.css' %}
  {% resource 'dataportaltheme/home.css' %}
{% endblock %}

{% block content %}
  <div class="homepage">
    <div class="container">
      {{ self.flash() }}
    </div>
    {% block primary_content %}
    


        {% snippet "home/layout.html" %}
        {% block medium_extension %}
        {% endblock medium_extension %}
    {% endblock %}
  </div>
{% endblock %}
