{% ckan_extends %}

{% block styles %}
  {{ super() }}

  {# Import example_theme.css using Fanstatic.
     'dataportaltheme/' is the name that the dataportaltheme/fanstatic directory
     was registered with when the toolkit.add_resource() function was called.
     'dataportaltheme.css' is the path to the CSS file, relative to the root of
     the fanstatic directory. #}
  {% resource 'dataportaltheme/dataportaltheme.css' %}
  {% resource 'dataportaltheme/header.css' %}
  {% resource 'dataportaltheme/search.css' %}
  {% resource 'dataportaltheme/category-bar.css' %}
  {% resource 'dataportaltheme/social.css' %}
  {% resource 'dataportaltheme/footer.css' %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-71412386-6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-71412386-6');
</script>




{% endblock %}