


<div style="height:10px; background-image: linear-gradient(to right, #00b8f0 , #009d56, #ffcc29);"></div>


{% ckan_extends %}
<footer class="site-footer">
  <div class="container">
    {% block footer_content %}
    <div class="row">
      <div class="col-sm-3 footer-links">
        {% block footer_nav %}
            <strong>Link Penting</strong><br/>
            <br/>
            <ul class="list-unstyled">
                {% block footer_links %}
                <li>{% link_for _('Terms and conditions'), named_route="terms-and-conditions" %}</li>
                <li>{% link_for _('The cookie policy'), named_route="cookie-policy" %}</li>
                <li>{% link_for _('Code of Conduct'), named_route="code-of-conduct" %}</li>
                <li><a href="mailto:contact@mail.com">Contact</a></li>
                {% endblock %}
            </ul>
        {% endblock %}
        </div>
        <div class="col-sm-6 logo">
          <div class="row">
              {% if g.partner1_logo %}
                  <a class="" href="{{g.partner1_link}}" target="_blank">
                      <img src="{{ h.url_for_static_or_external(g.partner1_logo) }}"  style="max-height: 80px; width: auto; margin: 0 10px 0 10px;"/>
                  </a>
              {% endif %}
              {% if g.partner2_logo %}
                  <a class="" href="{{g.partner2_link}}" target="_blank">
                      <img src="{{ h.url_for_static_or_external(g.partner2_logo) }}"  style="max-height: 80px; width: auto; margin: 0 10px 0 10px;"/>
                  </a>
              {% endif %}
              {% if g.partner3_logo %}
                  <a class="" href="{{g.partner3_link}}" target="_blank">
                      <img src="{{ h.url_for_static_or_external(g.partner3_logo) }}"  style="max-height: 80px; width: auto; margin: 0 10px 0 10px;"/>
                  </a>
              {% endif %}
              {% if g.partner4_logo %}
                  <a class="" href="{{g.partner4_link}}" target="_blank">
                      <img src="{{ h.url_for_static_or_external(g.partner4_logo) }}"  style="max-height: 80px; width: auto; margin: 0 10px 0 10px;"/>
                  </a>
              {% endif %}
              {% if g.partner5_logo %}
                  <a class="" href="{{g.partner5_link}}" target="_blank">
                      <img src="{{ h.url_for_static_or_external(g.partner5_logo) }}"  style="max-height: 80px; width: auto; margin: 0 10px 0 10px;"/>
                  </a>
              {% endif %}
              {% if g.partner6_logo %}
                  <a class="" href="{{g.partner6_link}}" target="_blank">
                      <img src="{{ h.url_for_static_or_external(g.partner6_logo) }}"  style="max-height: 80px; width: auto; margin: 0 10px 0 10px;"/>
                  </a>
              {% endif %}
              {% if g.partner7_logo %}
                  <a class="" href="{{g.partner7_link}}" target="_blank">
                      <img src="{{ h.url_for_static_or_external(g.partner7_logo) }}"  style="max-height: 80px; width: auto; margin: 0 10px 0 10px;"/>
                  </a>
              {% endif %}
              {% if g.partner8_logo %}
                  <a class="" href="{{g.partner8_link}}" target="_blank">
                      <img src="{{ h.url_for_static_or_external(g.partner8_logo) }}"  style="max-height: 80px; width: auto; margin: 0 10px 0 10px;"/>
                  </a>
              {% endif %}
          </div>
        </div>
      <div class="col-sm-3 attribution">
        {% block footer_attribution %} 
          <div class="row">
            <div class="social-icons">
              {% if g.facebook_url %}
                  <a class="social-button" href="{{g.facebook_url}}" target="_blank"><i class="fa fa-facebook"></i></a>
              {% endif %}

              {% if g.instagram_url %}
                  <a class="social-button" href="{{g.instagram_url}}" target="_blank"><i class="fa fa-instagram"></i></a>
              {% endif %}

              {% if g.linkedIn_url %}
                  <a class="social-button" href="{{g.linkedIn_url}}" target="_blank"><i class="fa fa-linkedin"></i></a>
              {% endif %}

              {% if g.twitter_url %}
                  <a class="social-button" href="{{g.twitter_url}}" target="_blank"><i class="fa fa-twitter"></i></a>
              {% endif %}
            </div>
          </div>
          <div class="row">
            <div>
              &copy; 2019 {% if h.current_year != 2019 %}- {{h.current_year}}{% endif %} Jabar Digital Service.
            </div>
          </div>
        {% endblock %}
      </div>
    </div>
    {% endblock %}
  </div>

  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>
