{% ckan_extends %}

{% block header_site_search %}
{% endblock %}

{% block header_site_navigation %}
      <nav class="section navigation">
        <ul class="nav nav-pills" style="font-size: 14pt;">
            <li>
              <a href="/dataset" style="padding: 10px 10px 10px 10px;">Dataset</a>
            </li>
            <li>
              <a href="/organization" style="padding: 10px 10px 10px 10px;">Organisasi</a>
            </li>
            <li>
              <a href="/group" style="padding: 10px 10px 10px 10px;">Sektoral</a>
            </li>
            <li>
              <a href="/visualization" style="padding: 10px 10px 10px 10px;">Visualisasi</a>
            </li> 
            <li>
              <a href="/infographic" style="padding: 10px 10px 10px 10px;">Infografis</a>
            </li> 
            <li>
              <a href="/help" style="padding: 10px 10px 10px 10px;">Bantuan</a>
            </li>
            <li>
              <a href="/about" style="padding: 10px 10px 10px 10px;">Tentang</a>
            </li>

        </ul>
      </nav>

{% endblock %}
